extends layout

block content
    h1 Friends
    
    table.table.table-hover.table-striped
        thead
            tr
                th Username
                th 
        tbody
            tr
                th Learning Leo
                th
                    span.glyphicon.glyphicon-envelope
                    span.glyphicon.glyphicon-facetime-video
            tr
                th Cultural Carl
                th
                    span.glyphicon.glyphicon-envelope
            tr
                th Philosophical Phoebe
                th
                    span.glyphicon.glyphicon-envelope
                    span.glyphicon.glyphicon-facetime-video
            tr
                th
                    span.glyphicon.glyphicon-plus
                th.text-right
