//
   Created by thomasnattestad on 11/2/15.
extends layout
block content

  | You have no friends
  br
  img(src='https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS9FGb6Q_kHULQn9--hvgtNLTe9OpNIaHg0fwrILNh1OJdQejvKKjBrXA-W')