extends layout

block content
    div#alert_placeholder
    h1 Friends
    
    table.table.table-hover.table-striped
        thead
            tr
                th Username
                th Actions
        tbody
            tr
                th 
                    i.fa.fa-circle.text-success
                    span Learning Leo
                th
                    a#leoMessage.btn.btn-primary(type="button" data-toggle="modal" data-target="#messageModal")
                        span.fa.fa-envelope(aria-hidden="true")
                    span &nbsp;
                    a#leoVideo.btn.btn-primary(type="button")
                        span.fa.fa-video-camera
            tr
                th 
                    i.fa.fa-circle.text-danger
                    span Cultural Carl
                th
                    a#carlMessage.btn.btn-primary(type="button" data-toggle="modal" data-target="#messageModal")
                        span.fa.fa-envelope(aria-hidden="true")
                    span &nbsp;
                    a#leoVideo.btn.disabled(type="button")
                        span.fa.fa-video-camera
            tr
                th 
                    i.fa.fa-circle.text-success
                    span Philosophical Phoebe
                th
                    a#phoebeMessage.btn.btn-primary(type="button" data-toggle="modal" data-target="#messageModal")
                        span.fa.fa-envelope(aria-hidden="true")
                    span &nbsp;
                    a#phoebeVideo.btn.btn-primary(type="button")
                        span.fa.fa-video-camera
            tr
                th
                    a#addFriend.btn.btn-primary(type="button" data-toggle="modal" data-target="#addModal")
                        span.fa.fa-plus-circle
                th.text-right

    div.modal.fade#callModal(tabindex="-1" role="dialog" aria-labelledby="callModal")
        .modal-dialog
            .modal-content
                .modal-header
                    h4.modal-title You are being called by Worldy Winston
                .modal-footer
                    a.btn.btn-success(href="prechat") Answer Call
                    a.btn.btn-danger(data-dismiss="modal") Ignore Call
    div.modal.fade#addModal(tabindex="-1" role="dialog" aria-labelledby="addModal")
        .modal-dialog
            .modal-content
                .modal-header
                    h4.modal-title Add a new friend
                .modal-body
                    input.form-control(placeholder="Sorry Not Implemented")
                .modal-footer
                    a.btn.btn-success(type="button" data-dismiss="modal") Add Friend (Not Implemented)
                    a.btn.btn-danger(type="button" data-dismiss="modal") Cancel
    div.modal.fade#messageModal(tabindex="-1" role="dialog" aria-labelledby="messageLabel")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header Message to&nbsp;
                    span#name
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                div.modal-body
                    textarea.form-control(rows="10" placeholder="Message Text")
                div.modal-footer
                    button.btn.btn-default(type="button" data-dismiss="modal") Close
                    button.btn.btn-primary(type="button" onclick="sendMessage()" data-dismiss="modal") Send Message

block instructions
    span Click
    a#phoebeMessage(type="button" data-toggle="modal" data-target="#callModal")
        span &nbsp;here&nbsp;
    span to simulate a call
