extends layout

block content
  h1 Let's Talk
  script(src='/js/script.js')
  h2 Select Countries:
  #container(style='position: relative; height:460px; width: 95%;')
    #top(style='float: left; position: relative; width: 100%; height: 15%;')
      div(style='float: left; width: 85%; position:relative;')
        form.form-search
          .input-append
            #the-basics
              input.typeahead(type='text', placeholder='Search for a Country', onkeydown='search(this)')
    #bottom(style='float: left; position: relative; width: 100%; height: 85%;')
      #map(style='float: left; position: relative; width: 85%; height: 100%;')
      div(style='float: right; width: 15%; height: 100%; position:relative;')
        table.table.table-bordered(style='width: 100%;  position:relative;')
          thead
            tr
              th(colspan='2') Selected Countries
          tbody#selectedCountries
  .row
    .col-md-4
      h2 Select Topic Category:
    .col-md-3
      p.topicGroup Politics
      p.topicGroup Religion
      p.topicGroup Get to Know
      p.topicGroup Philosophy
    .col-md-2
      img.topicSelector
      br
      img.topicSelector
      br
      img.topicSelector
      br
      img.topicSelector
    .col-md-2
      a.btn.btn-block.btn-success#findPartnerButton(type="button" data-toggle="modal" data-target="#loadingModal")
        | Find
        br
        | Partner


  div.modal.fade#loadingModal(tabindex="-1" role="dialog" aria-labelledby="messageLabel")
    div.modal-dialog(role="document")
      div.modal-content
        div.modal-body
          h1 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Finding Conversation Parner...

