//
   Created by thomasnattestad on 11/2/15.
extends layout
block content

  | This is the part with the pre conversation, yay
  br
  script(src='https://apis.google.com/js/platform.js', async='', defer='')
  .g-hangout(data-render='createhangout')
