@import "themes/default/variables";

@import "vendors/bootstrap/bootstrap";
@import "vendors/bootstrap-social";
@import "vendors/font-awesome/font-awesome";

@import "themes/default/styles";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
//  border: 1px dashed #000000;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

#peckSection{
  text-align: center;
}

#prechatUserImage{
  width: 200px;
  margin: auto;
}

#prechatUser{
  margin: auto;
  text-align: center;
  padding: 30px;
}

#peckTopics{
  text-align: center;
}

.peckBox{
  border: 5px solid #000000;
  height: 47px;
  width: 47px;
  margin-right: 100px;
}

#hangoutContainer{
  margin-left: 100px;
}